<div class="pt-5 pb-5 rounded-end list gap-5 d-flex flex-column justify-content-between align-items-center">
    <p>
        <a mat-list-item href="#">
            <mat-icon>opacity</mat-icon>
        </a>
    </p>
    <div class=" list d-flex flex-column  align-items-center">

        <a mat-list-item href="#">
            <mat-icon>local_gas_station</mat-icon>
        </a>
        <a mat-list-item href="#">
            <mat-icon>dashboard</mat-icon>
        </a>
        <a mat-list-item href="#">
            <mat-icon>layers</mat-icon>
        </a>
        <a mat-list-item href="#">
            <mat-icon>settings</mat-icon>
        </a>
        <a mat-list-item href="#">
            <mat-icon>notifications</mat-icon>
        </a>

    </div>
    <p>
        <a mat-list-item href="#">
            <mat-icon>exit_to_app</mat-icon>
        </a>
    </p>
</div>
<!-- <a routerLink="navbar">navbar</a> -->
